name: Deploy to Production

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      
      - name: Fix Pulumi version conflict
        run: sudo rm -f /usr/local/bin/pulumi-language-nodejs
      
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
          cache: 'pnpm'

      - name: Create .env file
        run: |
          cat <<EOF > .env
          # Wordpress API
          WP_SITE_URL=${{ secrets.WP_SITE_URL }}
          WP_CONSUMER_KEY=${{ secrets.WP_CONSUMER_KEY }}
          WP_CONSUMER_SECRET=${{ secrets.WP_CONSUMER_SECRET }}
          # Newsletter keys
          NEWSLETTER_CLIENT_ID=${{ secrets.NEWSLETTER_CLIENT_ID }}
          NEWSLETTER_CLIENT_SECRET=${{ secrets.NEWSLETTER_CLIENT_SECRET }}
          BRIDGER_PAY_ACTIVATION_KEY=${{ secrets.BRIDGER_PAY_ACTIVATION_KEY }}
          BRIDGER_PAY_USERNAME=${{ secrets.BRIDGER_PAY_USERNAME }}
          BRIDGER_PAY_PASSWORD="${{ secrets.BRIDGER_PAY_PASSWORD }}"
          BRIDGER_PAY_API_KEY=${{ secrets.BRIDGER_PAY_API_KEY }}
          BRIDGER_PAY_CASHIER_KEY=${{ secrets.BRIDGER_PAY_CASHIER_KEY }}
          BRIDGER_PAY_API_URL=${{ secrets.BRIDGER_PAY_API_URL }}
          BRIDGER_PAY_EMBED_URL=${{ secrets.BRIDGER_PAY_EMBED_URL }}
          SSM_AWS_KEY=${{ secrets.SSM_AWS_KEY }}
          SSM_AWS_PRIVATE_KEY=${{ secrets.SSM_AWS_PRIVATE_KEY }}
          APP_DEBUG=false
          AUTH_SECRET=${{ secrets.AUTH_SECRET }}
          INTERNAL_API_TOKEN=${{ secrets.INTERNAL_API_TOKEN }}
          ACTIVE_CAMPAIGN_ENABLED=false
          ACTIVE_CAMPAIGN_API_BASE=${{ secrets.ACTIVE_CAMPAIGN_API_BASE }}
          ACTIVE_CAMPAIGN_API_KEY=${{ secrets.ACTIVE_CAMPAIGN_API_KEY }}
          ACTIVE_CAMPAIGN_TAG_ID=${{ secrets.ACTIVE_CAMPAIGN_TAG_ID }}
          ACTIVE_CAMPAIGN_LIST_ID=${{ secrets.ACTIVE_CAMPAIGN_LIST_ID }}
          EOF
      
      - name: Install dependencies
        run: pnpm install
      
      - name: Disable Telemetry
        run: pnpm exec next telemetry disable
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Make Build
        run: |
          echo "Build"
          pnpx sst deploy --stage production