name: Deploy to Production

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      
      - name: Fix Pulumi version conflict
        run: sudo rm -f /usr/local/bin/pulumi-language-nodejs
      
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
          cache: 'pnpm'
      
      - name: Install dependencies
        run: pnpm install
      
      - name: Disable Telemetry
        run: pnpm exec next telemetry disable
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Make Build
        run: |
          echo "Build"
          pnpx sst deploy --stage production